body {background-image: url("pexels-pixabay-47343.jpg");background-size: cover;background-attachment: fixed;}
.counter-dsply {background-color: azure; width: 100px ; height: 23px;font-size: 100%; text-align: center;}
.counter-dsply2 {background-color: azure; width: 100px ; height: 23px;font-size: 100%; text-align: center;}